.field {
  display: inline-flex;
  align-items: center;
  gap: var(--size-2);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: solid 2px var(--outline);
  background-color: var(--surface);
  color: var(--on-background-variant);
  position: relative;
  isolation: auto; // when a button has a popover it should have isolation auto to let the popover over the other element

  &:focus-within {
    background-color: var(--background-variant);
    border-bottom-color: var(--primary);
    outline: none;
  }

  &:hover {
    border-bottom-color: var(--on-background-variant);
  }
  
  &[aria-invalid="true"] {
    border-bottom-color: var(--error);
  }

  button {
    flex: 1;
    min-height: 1rem;
  }

  input[hidden] {
    display: none;
  }

  svg {
    margin-left: auto;
    height: 4px;
    transition: transform 0.1s var(--ease-in-out);
    polygon {
      fill: currentColor;
    }
    
    &.opened {
      transform: rotate(180deg);
    }
  }
  
}
