.field {
  display: inline-flex;
  align-items: center;
  gap: var(--size-2);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: solid 2px var(--outline);
  background-color: var(--surface);
  color: var(--on-background-variant);
  min-height: 1rem;
  position: relative;
  
  &:focus-within {
    background-color: var(--background-variant);
    border-bottom-color: var(--primary);
    outline: none;
  }

  &:hover {
    border-bottom-color: var(--on-background-variant);
  }
  
  &:invalid {
    border-bottom-color: var(--error);
  }
  
  input[hidden] {
    display: none;
  }
  input {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: var(--size-2) var(--size-3);
  }
  input:focus-visible {
    outline: none;
  }
}
