.select {
  flex: 1;
  display: flex;
  position: relative;
  cursor: pointer;


  button {
    font-size: 1rem;
    flex: 1;
    cursor: pointer;
    background-color: transparent;
    
    border: none;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    min-height: 1rem;
    &:focus-visible {
      outline: none;
      span.value {
        color: currentColor;
      }
    }
    span {
      text-align: left;
      display: inline-block;
      flex: 1;
    }
    span.placeholder {
      opacity: 0.5;
    }
    svg {
      height: 4px;
      transition: transform 0.1s var(--ease-in-out);
      polygon {
        fill: currentColor;
      }
      
      &.opened {
        transform: rotate(180deg);
      }
    }
  }

  [role="listbox"] {
    list-style: none;
    padding-left: 0;
    margin-block: 0;
    display: flex;
    flex-direction: column;
  }
  
  [role="option"] {
    display: grid;
    input {
      opacity: 0;
      grid-area: 1/1;
      pointer-events: none;
      margin: 0;
      border: none;
    }
    label {
      cursor: pointer;
      display: flex;
      padding: var(--size-1) var(--size-2);
      grid-area: 1/1;
    }
    label:hover {
      background-color: color-mix(in oklch, var(--text) var(--alpha-hover), var(--overlay));
    }
    input:focus-visible + label {
      background-color: color-mix(in oklch, var(--text) var(--alpha-hover), var(--overlay));
    }
    input:checked + label {
      background-color: color-mix(in oklch, var(--text) var(--alpha-focus), var(--overlay));
    }
  }
  
  
  .popover {
    backdrop-filter: var(--background-blur);
    max-height: 275px;
    overflow: auto;
  }
}

@media (max-width: 599px) {
  .select {

    dialog.popover {
      max-height: 400px;
    }
    [role="option"] {
      label {
        padding: var(--size-2);
      }
    }
  }
}