label.standard {
  display: inline-flex;
  flex-direction: column;
  gap: var(--size-1);
  cursor: text;
  
  .field {
    display: inline-flex;
    align-items: center;
    gap: var(--size-2);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: solid 2px var(--outline);
    background-color: var(--surface);
    color: var(--on-background-variant);
    input {
      width: 100%;
      border: none;
      background-color: transparent;
      padding: var(--size-2) var(--size-3);
    }
    input:focus-visible {
      outline: none;
    }
  }
  
  &.focused {
    .field {
      background-color: var(--background-variant);
      border-bottom-color: var(--primary);
    }
  }

  &.invalid {
    .field {
      border-bottom-color: var(--error);
    }
  }

  &.dirty {
  }
}
