@use "./base";
.range {
  border-radius: 4px;
  padding: 0 8px;
  box-sizing: border-box;
  border: none;
  height: 48px;
  display: flex;
  position: relative;
  align-items: center;
  --start: 0;
  --end: 100%;
  &:focus-within {
    outline: solid 1px var(--primary);
  }
}
.sliders {
  display: flex;
  grid-area: 1/1;
}
input {
  @include base.input();
  width: 50%;
}
.track {
  @include base.track();
  position: absolute;
  width: calc(100% - 16px); // Remove padding
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--outline);
    transition: transform 0.1s;
    transform: translateX(calc(-100% + var(--start)));
  }
  &::after {
    transform: translateX(var(--end));
  }
}
.thumb {
  @include base.thumb();
  position: absolute;
  &.start {
    transform: translateX(var(--start));
  }
  &.end {
    transform: translateX(var(--end));
  }
}


input:focus + .thumb {
  box-shadow: 0 0 4px var(--primary);
  &::before {
    opacity: 1;
  }
  &::after {
    background-color: var(--on-background-variant);
  }
}
input:hover + .thumb {
  &::before {
    opacity: 1;
  }
  &::after {
    transform: scale(0.6);
  }
}
input:active + .thumb {
  &::before {
    opacity: 1;
  }
  &::after {
    transform: scale(0.3);
  }
}