@use "./base";

.slider {
  padding: 0 8px;
  display: grid;
  align-items: center;
  border-radius: 4px;
  --position: 0px;
  &:hover {
    .thumb::after {
      transform: scale(0.7);
    }
  }
  &:active {
    .thumb::after {
      transform: scale(0.4);
    }
  }
  &:focus-within {
    outline: solid 1px var(--primary);
  }
}
input, .track {
  grid-area: 1/1;
}

input {
  opacity: 0;
}

.track {
  @include base.track();
  &::after {
    transform: translateX(var(--position));
  }
}

.thumb {
  @include base.thumb();
  grid-area: 1 / 1;
  transform: translateX(var(--position, 0));
}
input:focus + .thumb {
  box-shadow: 0 0 4px var(--primary);
  &::after {
    background-color: var(--on-background-variant);
  }
}