@mixin ripple($color) {
  & {
    position: relative;
    isolation: isolate;
    &:active::before {
      content: "";
      inset: 0;
      position: absolute;
      z-index: -1;
      // TODO: animation
    }
  }
}