h1, h2, h3, h4, h5, h6, p {
  margin-block: 0;
}

h1 {
  font-size: xx-large;
  line-height: 2.25rem;
  font-weight: 500;
}

h2 {
  font-size: x-large;
  line-height: 1.75rem;
  font-weight: 500;
}

h3 {
  font-size: large;
  line-height: 1.35rem;
  font-weight: 500;
}

label {
  font-size: medium;
  line-height: 1.25rem;
  font-weight: 400;
}

small {
  line-height: 16px;
  font-weight: 300;
}

input {
  font-size: medium;
}