$size: 1.2rem;
.radio-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 4px;
  border: solid 1px var(--outline);
  &:focus-within {
    border-color: var(--primary);
  }
  ul {
    display: flex;
    gap: 8px;
  }
  label {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }
  svg {
    pointer-events: none;
    height: $size;
    width: $size;
    border-radius: 50%;
    border: solid 1px var(--outline);
    
    circle {
      transform-origin: center;
      transform: scale(0);
      fill: currentColor;
      transition: transform 0.2s var(--ease-in-out);
    }
  }
  
  input {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    height: $size;
    width: $size;
    margin: 0;
    &:checked + label svg {
      border-color: var(--primary-container);
      background-color: var(--primary-container);
      circle {
        fill: var(--on-primary-container);
        transform: scale(1);
      }
    }
    &:active + label svg {
      circle {
        transform: scale(0.6);
      }
    }
    &:hover + svg, &:focus-visible + svg {
      box-shadow: 0 0 2px var(--on-primary-container);
    }
  }
}