ul {
  display: flex;
  flex-direction: column;
}
li {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  button {
    background-color: var(--surface);
    &:focus {
      background-color: var(--surface-variant);
    }
  }
  
  .details-panel {
    background-color: var(--surface);
    transform-origin: top;
    height: 0;
    display: none;
  }
}

li.open {
  margin-block: 16px;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  .details-panel {
    display: block;
    height: auto;
  }
  
}
