.menu-root {
  position: relative;
}
.menu-list {
  margin-block: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  li {
    display: contents;
  }
  [role="menuitem"],
  [role="menuradio"],
  [role="menucheckbox"] {
    cursor: pointer;
    background-color: transparent;
    padding: var(--size-1) var(--size-2);
    &:hover, &:focus {
      background-color: color-mix(in oklch, var(--text) var(--alpha-hover), var(--overlay));
    }
    &:active {
      background-color: color-mix(in oklch, var(--text) var(--alpha-focus), var(--overlay));
    }
  }
  a[role="menuitem"] {
    text-decoration: none;
    color: inherit;
  }
}